@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  box-sizing: border-box;
  --bg-color: #f7f7f7;
  --text-color: #000000;
}

body {}

#root {
  display: flex;
  flex-direction: column;
}

nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;

  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}


#head-line {
  font-weight: 600;
  font-size: 1.2rem;
}

#head-line::first-letter {
  text-transform: capitalize;
}

#dark-mode {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#dark-mode>svg {

  margin: 10px
}


a:link,
a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;

}


.filters>div {
  display: flex;
  align-items: center;
  height: 60px;
  width: 40%;
  font-size: 1.2rem;
  padding: 5px;
  background-color: white;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}


.filters>div>input {
  width: 70%;
  height: 60%;
  font-size: 1rem;
  border: none;
  outline: none;
}

.filters>div>input::placeholder {

  color: #999;
  font-size: .8rem;

}


.filters>div>svg {
  padding-left: 30px;
  padding-right: 30px;
  color: grey;
  font-size: 1.3rem;

}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  width: 200px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

select:hover {
  border-color: #999;
}

select:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5%;
  padding-top: 0;
  column-gap: calc((100% / 4 - 5%) / 3);
}

.card {
  display: flex;
  flex-direction: column;
  width: calc(100% / 4 - 5%);
  height: 350px;
  margin-bottom: 6%;
  background-color: #fff;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

}

.card>* {
  height: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.content {
  padding: 10%;
}

.content>*:first-child {
  font-weight: bold;
}

.country-info {
  display: flex;
  flex-direction: column;
  row-gap: 2%;
  height: 100%;
}

.country-info>div>p:first-child:after {
  content: ":";
}

.country-info>* {
  display: flex;
  column-gap: 3%;

}

.filters>select {
  text-transform: capitalize;
}

.country {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 5%;
  row-gap: 10%;
}

.country>button {
  width: fit-content;
  display: flex;
  background-color: white;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-around;
  text-transform: capitalize;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.country>button:active {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: .8rem;
}

.country>button>svg {
  padding: 0 10px;
}

.country>.container {
  display: flex;
  column-gap: 10%;
  height: 50%;
}

.country>.container>.information {
  display: flex;
  flex-direction: column;

  width: 40%;
  row-gap: 10%;
  text-transform: capitalize;
}

.country>.container>img {
  width: 40%;
  height: 90%;

}

.information>.sub-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 45%;
  row-gap: 10%;
}

.sub-info>* {
  display: flex;
  width: 70%;
  column-gap: 10%;

}

.sub-info p:first-child {
  font-weight: 500;
}

.border-contries>p {
  font-weight: 500;
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* --bg-color: #121212; */
/* dark mode background color */
/* --text-color: #ffffff; */
/* dark mode text color */
/* } */
/* } */

/* .dark-mode { */

/* filter: invert(100%); */
/* } */

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.border-contries {
  display: flex;
  height: 100%;
  flex-direction: column;
  row-gap: 15px;
}

.borders {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  column-gap: 5%;
}


.borders button {
  background-color: white;
  color: grey;
  border: 2px rgb(237, 237, 237) solid;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;


  cursor: pointer;
}

.borders button:active {
  font-size: .78rem;
  background-color: #f1f1f1;
  transition: background-color 0.9s, color 0.3s;
}

.not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
}

.country>a>button {
  display: flex;
  font-size: 1.5em;
  align-items: center;
  column-gap: 10px;
  padding: 5px 15px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(240, 240, 240);
  border-radius: 5px;
  text-transform: capitalize;
  color: rgb(72, 71, 71);
  cursor: pointer;

}

.countrya>button:active {
  font-size: 1.4rem;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}